<footer class="hidden">        	
    <div id="footer-container">
        
        <div id="backtotop" class="button-wrap left">
            <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element">
                    <i class="fa fa-angle-up"></i>
                </div>
            </div>
            <div class="button-text"><span data-hover="Voltar ao topo">Voltar ao topo</span></div> 
        </div>
        
        <div class="footer-middle">
            <div class="copyright">2020 © <a class="link" target="_blank" href="#">Exfera</a>. Todos os direitos reservados.</div>
        </div>
        
        <div class="socials-wrap">            	
            <div class="socials-icon"><i class="fa fa-share-alt" aria-hidden="true"></i></div>
            <div class="socials-text">Conecte-se</div>
            <ul class="socials">
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.linkedin.com/company/grupoexfera/" target="_blank">Li</a></span></li>
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.facebook.com/grupoexfera" target="_blank">Fb</a></span></li>
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.instagram.com/grupoexfera/">Ig</a></span></li>
            </ul>                
        </div>
        
    </div>
</footer>