<!-- Logo -->
<div id="logo" class="hide-ball">
    <a class="ajax-link" href="/index">
        <img class="black-logo" src="images\logo-ex.png" alt="ClaPat Logo">
        <img class="white-logo" src="images\logo-white-ex.png" alt="ClaPat Logo">
    </a>
</div>
<!--/Logo --> 
<nav> 
    <div class="nav-height">
        <div class="outer">
            <div class="inner">           
                <ul data-breakpoint="10025" class="flexnav">
                    <li class="link menu-timeline"><a class="active" href="#"><span data-hover="Nosso Portfolio">Nosso Portfolio</span></a>
                        <ul>
                            <li><a class="ajax-link active" href="/midia-ooh">Mídias OOH</a></li>
                            <li><a class="ajax-link" href="/marketing-promocional">Marketing Promocional</a></li>
                            <li><a class="ajax-link" href="/midias-impressas">Mídias Impressas</a></li>
                                                                        
                        </ul>
                    </li>                           
                    <li class="link menu-timeline"><a class="ajax-link" href="/sobre-o-grupo-exfera"><span data-hover="Sobre a Empresa">Sobre a Empresa</span></a></li>
                    <li class="link menu-timeline"><a class="ajax-link" href="midiakit/Grupo-Exfera-Midia-Kit.pdf"><span data-hover="Sobre a Empresa">Midia Kit</span></a></li>                         
                    <li class="link menu-timeline"><a class="ajax-link" href="/contato"><span data-hover="Fale Conosco">Fale Conosco</span></a></li>
                                   
                </ul>            
            </div>
        </div> 
    </div>          
</nav>