<!DOCTYPE html>
<html lang="en">
<%- include(header)%>






<body class="hidden hidden-ball smooth-scroll">

	
	<main>		
        <!-- Preloader -->
        <div class="preloader-wrap">
            <div class="outer">
                <div class="inner">
                    <div class="percentage" id="precent"></div>
                    <div class="trackbar">
                        <div class="loadbar"></div>
                    </div>                    
                </div>
            </div>
        </div>
        <!--/Preloader -->     
        
        <div class="cd-index cd-main-content">
    
        <!-- Page Content -->
        <div id="page-content" class="light-content">
            
            <!-- Header -->
            <header class="fullscreen-menu">
                <div id="header-container">
                
                <!-- Navbar -->
               <%- include(navbar)%>
                <!-- Navbar -->

                <!-- Menu Burger -->
                <div class="button-wrap right  menu">
                    <div class="icon-wrap parallax-wrap">
                        <div class="button-icon parallax-element">
                            <div id="burger-wrapper">
                                <div id="menu-burger">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-text"><span data-hover="Menu">Menu</span></div> 
                </div>
                <!--/Menu Burger -->
            
                </div>
            </header>
            <!--/Header -->        
            
            
             
            
            
            <!-- Content Scroll -->
            <div id="content-scroll">
            
            
                <!-- Main -->
                <div id="main">
                
                    <!-- Hero Section -->
                    <div id="hero" class="has-image">
                        <div id="hero-styles" class="parallax-onscroll">
                            <div id="hero-caption">
                                <div class="inner">
                                	<div class="hero-subtitle" style="text-shadow: 1px 1px 1px #000;">Mídias OOH</div>                                        
                                    <div class="hero-title"  style="text-shadow: 1px 1px 1px #000;">Envelopamento de Ônibus de Condomínio</div>
                                </div>
                            </div>                            
                            <div class="hero-bottom">                            
                            	<div class="hb-left">
                                	<div id="scrolldown" class="link">Deslize pra baixo</div>
                                </div>                                
                                <!--div class="hb-right link"><a target="_blank" href="https://themeforest.net/user/clapat/portfolio">View Website</a><div>   -->                         
                            </div>                                      
                        </div>
                    </div>
                    <div id="hero-bg-wrapper">
                        <div id="hero-image-parallax">
                            <div id="hero-bg-image" style="background-image:url(images/09hero-ex.jpg)">
                                <div class="hero-video-wrapper">
                                    <video loop="" muted="" class="bgvid">
                                        <source src="images/video-ex.mp4" type="video/mp4">
                                        
                                    </video>
                                </div></div>
                        </div>
                    </div>                        
                    <!--/Hero Section -->   
                         
                    
                    <!-- Main Content -->
                    <div id="main-content">
                        <div id="main-page-content">
                            
                            <!-- Row -->
                            <div class="vc_row row_padding_top row_padding_bottom text-align-center small">
                                
                                <hr>
                                
                                <h4 class="has-mask">O envelopamento consiste em uma arte gráfica aplicada sobre toda a carroceria dos ônibus. Assim, o ônibus inteiro passa a ser uma divulgação da sua marca, empresa ou produto.</h4>
                                                              
                                
                                
                            </div>
                            <!--/Row -->
                            
                            
                            <!--/Row -->
                            <div class="vc_row row_padding_top row_padding_bottom white-section" style="padding-bottom:0px; padding-top:0px;" data-bgcolor="#fff">
                                                        
                                <figure class="has-animation has-scale">
                                    <img src="images\projects\onibus00.jpg" alt="Envelopamento">
                                </figure>
                            
                            </div>
                            <!--/Row -->
                            <!--/Row -->
                            <div class="vc_row row_padding_top row_padding_bottom white-section" style="padding-bottom:0px; padding-top:0px;" data-bgcolor="#fff">
                                                        
                                <figure class="has-animation has-scale">
                                    <img src="images\projects\onibus01.jpg" alt="Envelopamento">
                                </figure>
                            
                            </div>
                            <!--/Row -->
                            <!--/Row -->
                            <div class="vc_row row_padding_top row_padding_bottom white-section" style="padding-bottom:0px; padding-top:0px;" data-bgcolor="#fff">
                                                        
                                <figure class="has-animation has-scale">
                                    <img src="images\projects\onibus03.jpg" alt="Envelopamento">
                                </figure>
                            
                            </div>
                            <!--/Row -->
                            
                            
                            <!-- Row 
                            <div class="vc_row row_padding_top has-animation dark-section" data-delay="10" data-bgcolor="#00547A">                                
                                    
                                    <div id="slider" class="slider">
                                        <div class="slide"><img src="images\projects\onibus01.png" alt="Envelopamento"></div>
                                        <div class="slide"><img src="images\projects\onibus02.png" alt="Envelopamento"></div> 
                                        <div class="slide"><img src="images\projects\onibus03.png" alt="Envelopamento"></div> 
                                        
                                    </div>
                                
                            </div>
                           
                            
                            <div class="vc_row small text-align-center row_padding_bottom dark-section" data-bgcolor="#00547A"> 
                                    
                                    <hr>
                                    <h3 class="has-mask">PERÍODOS DE MANHÃ, TARDE e NOITE.</h3>
                                
                            </div>
                           Row -->
                            
                            <!-- Row -->
                            <div class="vc_row row_padding_top row_padding_bottom small">
                                
                                <div class="one_half">
                                	<h2 class="has-mask">Envelopamento</h2>
                                </div>
                                
                                <div class="one_half last">
                                
                                	
                                    <p class="has-animation" data-delay="10">Ele é uma das melhores mídias OOH de impacto efetivo. Por ser uma publicidade em um ônibus ele tem maior circulação, logo, atinge um número maior de público.</p>
                                                                                                              
                                </div>
                                
                                
                            </div>
                            <!-- Row -->
                        
                        
                        </div>
                        <!--/Main Page Content --> 
                        
                        <!-- Project Navigation --> 
                        <div id="project-nav">
                            <div class="next-project-wrap">
                                
                                <div class="next-project-title">
                                    <div class="inner">
                                    	<div class="next-title"  style="text-shadow: 1px 1px 1px #000;">Próximo estudo de caso</div>
                                        <div class="next-subtitle-name">Maxibus</div>
                                        <a class="main-title next-ajax-link-project hide-ball" data-type="page-transition" href="/maxibus"  style="text-shadow: 1px 1px 1px #000;"><span>Maxibus</span></a>
                                    </div>                   
                                </div>
                            </div>
                        </div>      
                        <!--/Project Navigation -->
                                                
                                
                    </div>
                    <!--/Main Content --> 
                </div>
                <!--/Main --> 
                
                
                <!-- Footer -->
                <%- include(footer)%>
                <!--/Footer -->
            
        
        	</div>
            <!--/Content Scroll -->
            
            
            <div class="next-project-image">
                <div class="next-project-image-bg" style="background-image:url(images/05hero-ex.jpg)"></div>
            </div>
            
            
		</div>    
        <!--/Page Content -->
    
		</div>
	</main>
    
    
    
    
    <div class="cd-cover-layer"></div>
    <div id="magic-cursor">
        <div id="ball">
        	<div id="hold-event"></div>
        	<div id="ball-loader"></div>
        </div>
    </div>
    <div id="clone-image"></div>
    <div id="rotate-device"></div>
    
    
		
    <script src="js\jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>
	
	<script src="js\plugins.js"></script>
    <script src="js\scripts.js"></script>



</body>

</html>