<!DOCTYPE html>
<!-- saved from url=(0026)http://grupoexfera.com.br/ -->
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Grupo Exfera - Publicidade &amp; Comunicação - Modo de Manutenção</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Grupo Exfera - Publicidade &amp; Comunicação">
    <meta name="description"
        content="Grupo Exfera - Publicidade &amp; Comunicação - Somos um grupo de comunicação com atuação no mercado publicitário oferecendo aos nossos clientes e parceiros as melhores opções de mídias para divulgação das suas marcas ou produtos.">
    <meta name="keywords" content="Modo de Manutenção">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet"
        href="/Temp/Grupo Exfera - Publicidade &amp; Comunicação - Modo de Manutenção_files/style.min.css">
    <style>
        .wrap h2 {
            color: #edecee;
        }

        .background {
            background: url(http://grupoexfera.com.br/wp-content/uploads/2020/03/Wallpaper-Manutenção.png) no-repeat center top fixed;
            background-size: cover;
        }
    </style>
</head>

<body class="background" data-gr-c-s-loaded="true" cz-shortcut-listen="true">    
    <div class="wrap">
        <div style="display: flex;flex-direction: column;">
            <div>
                <img src="/images/logo-ex.png" alt="">
            </div>
            <div>
                <span>Em Construção...</span>
            </div>
            
        </div>
        
        <h2>
            <p>&nbsp;</p>
            <p style="text-align: center">&nbsp;</p>
        </h2>





    </div>

    <script type="text/javascript">
        var wpmm_vars = { "ajax_url": "http://grupoexfera.com.br/wp-admin/admin-ajax.php" };
    </script>

    <script src="/js/jquery.min.js"></script>
    <script
        src="/Temp//Grupo Exfera - Publicidade &amp; Comunicação - Modo de Manutenção_files/scripts.min.js.download"></script>

</body>

</html>